<?xml version="1.0" encoding="UTF-8"?>  
2 2 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
3 3 <plist version="1.0">  
4 4 <dict>  
5 5 	<key>items</key>  
6 6 	<array>  
7 7 		<dict>  
8 8 			<key>assets</key>  
9 9 			<array>  
10 10 				<dict>  
11 11 					<key>kind</key>  
12 12 					<string>software-package</string>  
13 13 					<key>url</key>  
14 14 					<string>http://resource.jiaju.99.com/jiaju/CQCS/99Home_iphone_v1.1.40_201410101427(svn4243)_16_CQCS.ipa</string>  
15 15 				</dict>  
16 16 				<dict>  
17 17 					<key>kind</key>  
18 18 					<string>display-image</string>  
19 19 					<key>needs-shine</key>  
20 20 					<false/>  
21 21 					<key>url</key>  
22 22 					<string>http://img3.91huo.cn/jiaju/images/2014v1/logo_1.png</string>  
23 23 				</dict>  
24 24 			</array>  
25 25 			<key>metadata</key>  
26 26 			<dict>  
27 27 				<key>bundle-identifier</key>  
28 28 				<string>com.nd.91jiaju</string>  
29 29 				<key>bundle-version</key>  
30 30 				<string>1.1.0</string>  
31 31 				<key>kind</key>  
32 32 				<string>software</string>  
33 33 				<key>subtitle</key>  
34 34 				<string>Apple</string>  
35 35 				<key>title</key>  
36 36 				<string>91jiaju</string>  
37 37 			</dict>  
38 38 		</dict>  
39 39 	</array>  
40 40 </dict>  
41 41 </plist>  
