<?xml version="1.0" encoding="UTF-8"?> 
2 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> 
3 <plist version="1.0"> 
4 <dict> 
5 	<key>items</key> 
6 	<array> 
7 		<dict> 
8 			<key>assets</key> 
9 			<array> 
10 				<dict> 
11 					<key>kind</key> 
12 					<string>software-package</string> 
13 					<key>url</key> 
14 					<string>http://resource.jiaju.99.com/jiaju/CQCS/99Home_iphone_v1.1.40_201410101427(svn4243)_16_CQCS.ipa</string> 
15 				</dict> 
16 				<dict> 
17 					<key>kind</key> 
18 					<string>display-image</string> 
19 					<key>needs-shine</key> 
20 					<false/> 
21 					<key>url</key> 
22 					<string>http://img3.91huo.cn/jiaju/images/2014v1/logo_1.png</string> 
23 				</dict> 
24 			</array> 
25 			<key>metadata</key> 
26 			<dict> 
27 				<key>bundle-identifier</key> 
28 				<string>com.nd.91jiaju</string> 
29 				<key>bundle-version</key> 
30 				<string>1.1.0</string> 
31 				<key>kind</key> 
32 				<string>software</string> 
33 				<key>subtitle</key> 
34 				<string>Apple</string> 
35 				<key>title</key> 
36 				<string>91jiaju</string> 
37 			</dict> 
38 		</dict> 
39 	</array> 
40 </dict> 
41 </plist> 
