<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://resource.jiaju.99.com/jiaju/1_zh/99Home_iPhone_V1.5.11_201503191723(SVN8713)AD_1_ZH.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://img3.91huo.cn/jiaju/images/2014v1/logo_1.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.nd.91jiajuSL</string>
				<key>bundle-version</key>
				<string>1.5.11</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>Apple</string>
				<key>title</key>
				<string>99jiaju</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
